.root {
    -fx-base: #999999;
    -fx-background: #111111;
    -fx-control-inner-background: white;
    -fx-font-size:12px;
    -fx-font-family:Sengoe;
}

.ChartHeader {
    -fx-background-color:linear-gradient(#000000 0%, #111111 100%);
    -fx-font-size:12px;
    -fx-font-family:Sengoe;
}
