/*
 _____________________________________________________________________________
 
            Project:    GUI2016
  _____________________________________________________________________________
  
         Created by:    Johannes Weigend, QAware GmbH
      Creation date:    April 2016
  _____________________________________________________________________________
  
          License:      Apache License 2.0
  _____________________________________________________________________________ 
 */
.root {
    -fx-base: #999999;
    -fx-background: #111111;
    -fx-control-inner-background: white;
    -fx-font-size:12px;
    -fx-font-family:Sengoe;
}

.ChartHeader {
    -fx-background-color:linear-gradient(#000000 0%, #111111 100%);
    -fx-font-size:12px;
    -fx-font-family:Sengoe;
}
